

<Section id="Portfolio" class="my-5" >
  <div>

  </div>
  <div class="container row row-cols-1 row-cols-md-3 mx-auto gy-4 ">
    <div *ngFor="let item of imgsPath " class="col">
      <div   class="card ">
          <img src={{item}} class="w-100 rounded  "  alt="" srcset="">
          <div class="overplay rounded">
              <i class="fa-solid fa-plus "></i>
          </div>
      </div>
    </div>

      <!-- <div class="w-100 position-absolute bgBlack">

        <div class="popUp p-3 bg-white ">
          <div class="">
            <i class="fa-solid fa-close fa-2xl "></i>
          </div>
          <h2 class="text-center">Tasty Cake</h2>
          <div class="d-flex position-relative justify-content-center  ">

            <div class="line me-3"></div>
            <div>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="line ms-3"></div>

          </div>

          <div class="w-50 mx-auto">
            <img src="../../assets/Images/cake.png" class="w-100" alt="" srcset="">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <button class="btn btn-success">Close Window</button>
          </div>

        </div>


      </div> -->




  </div>

</Section>
